.profile-container {
    max-width: 420px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.profile-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.image-section {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 12px;
    margin-bottom: 25px;
}

.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
}


.upload-btn {
    background:#f6f6f6;
    padding: 8px 16px;
    border-radius: 6px;
    cursor:pointer;
}

.input-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 6px;
    font-weight: 500;
}

.input-group input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.save-btn {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    border: none;
    background: #4a67ff;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
