.skeleton-box {
    background: #e2e2e2;
    position: relative;
    overflow: hidden;
}

.skeleton-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.6) 50%,
            rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.3s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}
